extends ../layout

block content

  div.container
    h1 Editing #{book.title}
    form(action='/books/#{book.id}/edit', method='post')
      div.form-group
        label(for="author") Author
        input.form-control(type="text" name = "author" id="author" value= "#{book.author}" placeholder="Author")
      div.form-group
        label(for="title") Title
        input.form-control(type="text" name = "title" id="title" value= "#{book.title}" placeholder="Title")
      div.form-group
          label Rate this book
          p
            if (book.rating === 1)
              input(type="radio" name="rating" value="1" checked)
            else
              input(type="radio" name="rating" value="1" checked)
            one 1 (Lame)
      div.form-group
        if (book.rating === 2)
          input(type="radio" name="rating" value="2" checked)
        else
          input(type="radio" name="rating" value="2" checked)
        two 2
      div.form-group
        if (book.rating === 3)
          input(type="radio" name="rating" value="3" checked)
        else
          input(type="radio" name="rating" value="3" checked)
        three 3
      div.form-group
        if (book.rating === 4)
          input(type="radio" name="rating" value="4" checked)
        else
          input(type="radio" name="rating" value="4" checked)
        four 4 (Awesome)
      div.form-group
        label(for="description") Description
        textarea.form-control(rows="5" name = 'description' id='description') #{book.description}
      button.btn.btn-primary(type="submit") Update
